@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@200&family=Rampart+One&display=swap');
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
  font-family: 'Azeret Mono', monospace;
}
.container{
  max-width: 900px;
  margin: 0 auto;
}
h1{
  font-family: 'Rampart One', cursive;
}
.grid { 
  border:1px solid black; 
  display:grid; 
  justify-items:center;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(7,1fr);
  padding: 10px;
  width:770px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
  } 
  .grid-item { 
  height:40px; 
  width:40px; 
  margin:3px;
  border-radius:50%;
  border: 2px solid black;
  }
  
  .red { 
  background-color:  #e63946;
  }
  .yellow { 
    background-color: #f9c74f;
  }
.currentPlayer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 270px;
  padding: 5px;
  margin-bottom: 10px;
}
.player{
  background-color:#e63946;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-text{
  margin-top: 0;
  display: inline-block;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}
.heart{
  color: red;
}
#restart{
  background: white;
  border: none;
  padding: 10px;
  width: 220px;
  margin-bottom: 20px;
  display: none;
}